@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif; 
    --font-quantico: "Quantico", sans-serif; 
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
    margin-block: 5px;
    cursor: grab;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: grabbing;
}

/* 3D Utilities */
.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.translate-z-20 {
    transform: translateZ(20px);
}

.translate-z-30 {
    transform: translateZ(30px);
}
